body {
  background-color: #FAFAFF;
}
div.title {
  color: #fff;
  font-size: 24px;
}
.aside {
  background-color: #30343F;
  margin: 0px;
}
.main {
  padding: 40px;
}
.style {
  background-color: #FAFAFF;
}
.field {
  padding: 20px 40px;
}
.menu {
  color: #fff;
  list-style: none;
  font-size: 18px;
}
